<?xml version="1.0" ?>
<!-- Credit to https://github.com/sudrag/line_follower_turtlebot/tree/master/Maps/yellow%20line -->
<model>
    <name>yellowline</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
